<div class="row">
  <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
    <app-message-box name="Card #1">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed metus nunc. Fusce id magna et tellus tristique lacinia. Duis ut arcu et nibh semper finibus ac dictum mauris. Proin malesuada ante dignissim ipsum feugiat, non lobortis sapien euismod. Sed hendrerit fermentum turpis et iaculis.
    </app-message-box>
  </div>
  <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
    <app-message-box name="Card #2">
      Morbi vitae neque lectus. Sed nunc sem, ultrices vel libero a, finibus sodales orci. Phasellus iaculis ut sem in consequat. Donec tincidunt et dolor at condimentum. Ut vitae massa aliquet, finibus mauris ut, iaculis massa. Donec varius nisl tellus, vitae cursus massa cursus faucibus. Phasellus sagittis velit dapibus mollis ultrices.
    </app-message-box>
  </div>
  <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
    <app-message-box name="Card #3">
      Pellentesque ut massa vel felis pharetra lobortis. Proin ac vestibulum magna. Morbi sed diam ut odio dignissim pretium. Sed luctus eu metus vel mollis. Donec faucibus placerat dapibus. Nam a tellus ante. Quisque congue ornare facilisis.
    </app-message-box>
  </div>
</div>
