.counter-value {
  display: inline-block;
  vertical-align: middle;
  min-width: 3rem;
  max-width: 15rem;
  height: 1.5rem;
  padding: 0 .5rem;
  font-size: .5rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #007cbb;
  letter-spacing: .12em;
  border: 1px solid;
  border-color: #0077b7;
  border-radius: .125rem;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  overflow: hidden;
}