<h2>Table</h2>
<ul class="list">
  <li>
    Создайте компонент <b>my-table</b>, который будет отображать данные в виде таблицы.
    Данные должны выводиться в три столбца. Компонент должен использовать параметр <b>rows</b> с
    помощью, которого можно установить количество строк, которые отображаются в таблице.
    Например: <b>rows=”3”</b> при, таком использовании, в таблице должны
    отображаться первые три строки.
  </li>
  <li>
    Добавьте в компонент <b>my-table</b> напротив каждой строки кнопку удалить. Сделайте так, чтобы
    при нажатии на эту кнопку удалялся элемент из таблицы и происходило событие <b>delete</b>.
    В консоль нужно отображать <b>id</b> удаленного компонента.
  </li>
  <li>
    Добавьте в шаблон возможность изменять цвет фона строки таблицы на красный, в случае
    если значение свойства price > 500.
  </li>
  <li>
    Добавьте в источник данных для предыдущего примера свойство Category. Это свойство
    должно хранить одно из трех возможных значений – Category 1, Category 2, Category 3.
    Добавьте в шаблон компонента выпадающий список со значениями категорий. Реализуйте
    логику фильтрации данных в таблице таким образом, чтобы при смене значения в
    выпадающем списке, в таблице оставались только записи относящиеся к выбранной категории.
  </li>
  <li>
    Используя двунаправленную привязку создайте компонент, с помощью которого, можно 
    добавлять новые значения в источник данных для my-table
  </li>
</ul>

<app-my-table rows="10"></app-my-table>
