<h2>Table</h2>
<ul class="list">
  <li>
    Создайте компонент <b>my-table</b>, который будет отображать данные в виде таблицы.
    Данные должны выводиться в три столбца. Компонент должен использовать параметр <b>rows</b> с
    помощью, которого можно установить количество строк, которые отображаются в таблице.
    Например: <b>rows=”3”</b> при, таком использовании, в таблице должны
    отображаться первые три строки.
  </li>
  <li>
    Добавьте в компонент <b>my-table</b> напротив каждой строки кнопку удалить. Сделайте так, чтобы
    при нажатии на эту кнопку удалялся элемент из таблицы и происходило событие <b>delete</b>.
    В консоль нужно отображать <b>id</b> удаленного компонента.
  </li>
</ul>

<app-my-table rows="5"></app-my-table>
