.my-table td {
  vertical-align: middle;
}

.highlight {
  background-color: #e4d59d;
}

.select-block {
  display: flex;
  margin-left: 25px;
}

.select-block .title {
  margin-right: 15px;
}

.panel-action {
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: flex-start;
}