<!--The content below is only a placeholder and can be replaced.-->
<!-- <h2>{{ title }}</h2> -->
<div class="main-container">
  <header class="header header-6">
      ... angular practice
  </header>

  <div class="content-container">
      <div class="content-area">
        <router-outlet></router-outlet>
      </div>
      <nav class="sidenav">
        <section class="sidenav-content">
          <a routerLink="one" routerLinkActive="active" class="nav-link">Hello World List</a>

          <section class="nav-group">
            <input id="tabexample2" type="checkbox">
            <label for="tabexample2">Components</label>

            <ul class="nav-list">
              <li><a routerLink="counter" routerLinkActive="active" class="nav-link">Input</a></li>
              <li><a routerLink="timer" routerLinkActive="active" class="nav-link">Output</a></li>
              <li><a routerLink="card-name" routerLinkActive="active" class="nav-link">ComponentProps</a></li>
              <li><a routerLink="message-box" routerLinkActive="active" class="nav-link">Projection</a></li>
            </ul>
          </section>

          <section class="nav-group">
            <input id="tabexample2" type="checkbox">
            <label for="tabexample2">Lifecycle</label>

            <ul class="nav-list">
              <li><a routerLink="oninit-sample" routerLinkActive="active" class="nav-link">OnInput</a></li>
              <li><a routerLink="onchange-sample" routerLinkActive="active" class="nav-link">OnChanges</a></li>
              <li><a routerLink="allevent-sample" routerLinkActive="active" class="nav-link">AllEvents</a></li>
            </ul>
          </section>

          <section class="nav-group">
            <input id="tabexample2" type="checkbox">
            <label for="tabexample2">Child and Content</label>

            <ul class="nav-list">
              <li><a routerLink="view-child" routerLinkActive="active" class="nav-link">viewChild</a></li>
              <li><a routerLink="view-children" routerLinkActive="active" class="nav-link">viewChildren</a></li>
              <li><a routerLink="view-content" routerLinkActive="active" class="nav-link">viewContent</a></li>
            </ul>
          </section>

          <section class="nav-group">
            <input id="tabexample2" type="checkbox">
            <label for="tabexample2">Binding</label>

            <ul class="nav-list">
              <li><a routerLink="interpolation" routerLinkActive="active" class="nav-link">Interpolation</a></li>
              <li><a routerLink="property-binding" routerLinkActive="active" class="nav-link">propertyBinding</a></li>
              <li><a routerLink="event-binding" routerLinkActive="active" class="nav-link">eventBinding</a></li>
              <li><a routerLink="attribute-binding" routerLinkActive="active" class="nav-link">attributeBinding</a></li>
              <li><a routerLink="class-binding" routerLinkActive="active" class="nav-link">classBinding</a></li>
              <li><a routerLink="style-binding" routerLinkActive="active" class="nav-link">styleBinding</a></li>
            </ul>
          </section>

          <section class="nav-group">
            <input id="tabexample2" type="checkbox">
            <label for="tabexample2">Two Way Databinding</label>

            <ul class="nav-list">
              <li><a routerLink="ng-model" routerLinkActive="active" class="nav-link">ngModel</a></li>
              <li><a routerLink="ng-model-inside" routerLinkActive="active" class="nav-link">ngModel Inside</a></li>
            </ul>
          </section>
          
          <section class="nav-group">
            <input id="tabexample2" type="checkbox">
            <label for="tabexample2">Built In Directives</label>

            <ul class="nav-list">
              <li><a routerLink="ng-class" routerLinkActive="active" class="nav-link">ngClass</a></li>
              <li><a routerLink="ng-style" routerLinkActive="active" class="nav-link">ngStyle</a></li>
              <li><a routerLink="ng-if" routerLinkActive="active" class="nav-link">ngIf</a></li>
              <li><a routerLink="ng-switch" routerLinkActive="active" class="nav-link">ngSwitch</a></li>
              <li><a routerLink="ng-for" routerLinkActive="active" class="nav-link">ngFor</a></li>
            </ul>
          </section>

          <section class="nav-group">
            <input id="tabexample2" type="checkbox">
            <label for="tabexample2">Templates</label>

            <ul class="nav-list">
              <li><a routerLink="ng-if-templates" routerLinkActive="active" class="nav-link">ngIf Templates</a></li>
              <li><a routerLink="ng-switch-templates" routerLinkActive="active" class="nav-link">ngSwitch Templates</a></li>
              <li><a routerLink="ng-for-templates" routerLinkActive="active" class="nav-link">ngFor Templates</a></li>
              <li><a routerLink="temp-ref-var" routerLinkActive="active" class="nav-link">Temp Ref Var</a></li>
            </ul>
          </section>

          <section class="nav-group">
            <input id="tabexample2" type="checkbox">
            <label for="tabexample2">Service</label>

            <ul class="nav-list">
              <li><a routerLink="simple-service" routerLinkActive="active" class="nav-link">simpleService</a></li>
              <li><a routerLink="service-hierarchy" routerLinkActive="active" class="nav-link">serviceHierarchy</a></li>
            </ul>
          </section>

          <section class="nav-group">
            <input id="tabexample2" type="checkbox">
            <label for="tabexample2">Tasks</label>

            <ul class="nav-list">
              <li><a routerLink="table" routerLinkActive="active" class="nav-link">Table</a></li>
            </ul>
          </section>

          <a routerLink="testing" routerLinkActive="active" class="nav-link">Testing</a>
      </section>
      </nav>
  </div>
</div>
